* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #282c34;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.book-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  height: 100px;
  background-color: darkgray;
  border-radius: 5%;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
}

.selected-border {
  border: red 4px solid;
}

.default-border {
  border: transparent 4px solid;
}

.book-data {
  color: rgb(81, 81, 81);
  font-size: 0.8rem;
  font-style: italic;
}

.books-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-viewer-title {
  padding: 12px;
  font-size: 2rem;
}

.delete-button {
  color: white;
  background-color: red;
  border: 0;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 12px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgb(81, 81, 81);
  padding: 12px;
  border-radius: 12px;
}

input {
  padding: 4px;
  margin: 4px 0;
}

.range-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input[type="range"] {
  padding: 0;
  width: 70%;
}

form button {
  padding: 4px;
  margin: 4px 0;
}

form label {
  font-size: 1rem;
}
